{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
	<!--
	Zoom Template 
	http://www.templatemo.com/tm-414-zoom
	-->
	<title>L-Portal</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<!-- Google Web Font Embed -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/templatemo_main.css' %}" />
</head>
<body>
	{% include 'navbar.html' %}


	<div class="container theme-showcase" role="main">

	{% block content %}
	{% endblock %}



	<script src="{% static 'js/templatemo_script.js' %}"></script>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
	<script src="{% static 'js/templatemo_script.js' %}"></script>	

</body>
</html>